<h1>Welcome</h1>

<% if logged_in? %>
    <% if current_user %>
        <h1>You are Logged In, <%= current_user.name %></h1>
    <% end %>

    <%= button_to "Create user", '/users/new', method: :get %>
    <%= button_to "Credentials list", '/credentials', method: :get %>
    <%= button_to 'Logout', '/logout', method: :delete %>
<% else %>
    <%= button_to "Login", '/login', method: :get %>
<%end%>


