<%= form_with(model: credential, local: true) do |form| %>
  <% if credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credential.errors.count, "error") %> prohibited this credential from being saved:</h2>

      <ul>
        <% credential.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :username %>
    <%= form.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.text_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.url_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :note %>
    <%= form.text_area :note, class: "form-control", rows: "5" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
