<h1>Credenziali</h1>

<%= form_tag '/credentials', method: :get, class: "form-inline" do %>
  <div class="form-group mx-sm-3 mb-2">
    <%= label_tag :q, "Parola chiave", class: "sr-only"%>
    <%= search_field_tag :q, params[:q], class: "form-control",  placeholder: "Parola chiave" %>
  </div>
    <%= button_tag "Cerca", class: "btn btn-primary mb-2" %>

<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Url</th>
      <th>Note</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credentials.each do |credential| %>
      <tr>
        <td><%= credential.name %></td>
        <td><%= credential.username %></td>
        <td><%= credential.url %></td>
        <td><%= credential.note %></td>
        <td></td>
        <td><%= link_to 'Mostra', credential_path(credential, format: "json"), remote: true, class: "show-password" %></td>
        <td><%= link_to 'Nascondi', "#", class: "hide-password" %></td>
        <td><%= link_to 'Modifica', edit_credential_path(credential) %></td>
        <td><%= link_to 'Cancella', credential, method: :delete, data: { confirm: 'Sicuro? Non sarà più possibile recuperare le credenziali!' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @credentials %>

<br />
<div class="btn-group" role="group" aria-label="Strumenti">
  <%= link_to 'Nuova Credenziale', new_credential_path, class: "btn btn-primary" %>
  <%= link_to 'Home', welcome_path, class: "btn btn-primary" %>
</div>

<script>
  document.querySelectorAll('.show-password').forEach(element => {
    element.addEventListener('ajax:complete', function(event) {
      var detail = event.detail;
      var data = detail[0], status = detail[1], xhr = detail[2];
      console.log(this)
      credential = JSON.parse(data.response)
      td = element.closest("td").previousElementSibling
      td.innerText = credential.password
    });
  });
  document.querySelectorAll('.hide-password').forEach(element => {
    element.addEventListener("click", event => {
      td = element.closest("td").previousElementSibling.previousElementSibling
      td.innerText = ""
      event.preventDefault()
    }, false);
  });
</script>