
<p>
  <strong>Name:</strong>
  <%= @credential.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @credential.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @credential.password %>
</p>

<p>
  <strong>Url:</strong>
  <%= @credential.url %>
</p>

<p>
  <strong>Note:</strong>
  <%= @credential.note %>
</p>
<br />
<div class="btn-group" role="group" aria-label="Strumenti">
  <%= link_to 'Modifica', edit_credential_path(@credential), class: "btn btn-primary" %>
  <%= link_to 'Credenziali', credentials_path, class: "btn btn-primary" %>
</div>