<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @credential.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @credential.user %>
</p>

<p>
  <strong>Password:</strong>
  <%= @credential.password %>
</p>

<p>
  <strong>Url:</strong>
  <%= @credential.url %>
</p>

<p>
  <strong>Note:</strong>
  <%= @credential.note %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
